{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font text-center mb-4">About</h2>
            <hr>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            {{ about_description }}
            {% for about_info in about %}
            {{ about.about_description }}
            {% endfor %}
            <img class="card-img-top shadow img-fluid" src="{{ MEDIA_URL }}photographer.jpg" alt="">
            </a>
        </div>
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ex ipsa doloribus in tempore numquam
                pariatur eaque quaerat, nesciunt quidem beatae, error est nihil excepturi sapiente ullam cupiditate
                deserunt. Illum blanditiis animi voluptate tempora dolore pariatur repudiandae, sequi in, praesentium
                esse ea maiores accusantium eum voluptatem, vitae quos voluptatum autem expedita exercitationem et!
                Adipisci eum hic nam mollitia fugiat obcaecati totam repellat distinctio, minima, quod deserunt unde
                sint tempore officiis deleniti ipsam perspiciatis repellendus asperiores labore ipsum. Ratione natus
                temporibus provident, perferendis inventore, facilis modi deserunt cum maiores laborum qui quia minima
                voluptatem! Aperiam esse eligendi cupiditate corrupti accusamus. Tempore veniam voluptate quam,
                molestiae asperiores illo necessitatibus explicabo quia blanditiis, impedit nisi maxime distinctio
                laudantium suscipit magnam at quasi aut, eligendi doloribus nobis libero laboriosam error rem sequi.
                Nisi culpa, recusandae consequatur voluptates cumque eaque numquam maxime non soluta magni sint
                repudiandae dolore itaque possimus magnam! Repellendus sunt cupiditate reprehenderit impedit!</p>
        </div>
    </div>
</div>

{% endblock %}